#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

section.face {
  width: 50vmin;
  height: 50vmin;
  background: white;
  position: relative;
}

.leftEye,
.rightEye,
.nose {
  width: 8vmin;
  height: 8vmin;
  background: black;
  position: absolute;
}

.leftEye {
  top: 5vmin;
  left: 7vmin;
}
.rightEye {
  top: 5vmin;
  right: 7vmin;
}

.nose {
  top: 20vmin;
  left: 21vmin;
}
.mouth {
  border: 2vmin solid black;
  height: calc(1 * 1vmin);
  width: 40vmin;
  left: 3vmin;
  position: absolute;
  top: 30vmin;
}
